# Ignore Nix build results
result
result-*

# Ignore macOS system files
.DS_Store

# Ignore common editor swap files
*.swp
*~
.nfnix

# Place this in your notes directory or main dotfiles root
# Ignore all binary image assets
*.jpg
*.jpeg
*.png
*.gif
*.pdf

# Ignore editor caches
.webp
.direnv/
.logseq/
